<h1>
  HELLO
</h1>


<div>
  hello world 1
</div>
<div class="text-red">
hello world 2 
</div>
<div>
hello world 3
</div>

outside of div 

<a href="https://google.com"> google</a>

<%= link_to "other" , "/other"%>